/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-hyper-hyperchild  {
  pointer-events: auto;
  margin-top: -30px;
}

[data-type="hyper/hyperchild"] {
  display: content !important;
  position: absolute !important;
  pointer-events: none !important;
  margin: 0 !important;

  &:focus {
    &:after {
      display: none;
    }
  }

  .block-editor-block-list__layout {
    > * {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

.hyper-hyperchild__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 99;
}

