/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-hyper-hyperchild  {
  background: rgb(157, 0, 255);
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
  position: relative;
  pointer-events: auto;
}

[data-type="hyper/hyperchild"] {
  position: absolute !important;
  pointer-events: none !important;

  :focus {
    outline: none !important;
  }
}

.hyper-hyperchild__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.5);
}

