/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-hyper-hyperchild  {
  margin: 0;
  padding: 0;
  height: auto;
  width: var(--responsive--aligndefault-width);
  position: absolute;

  > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}