/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-hyper-hyperblock  {
  border: 1px solid $black;
  margin: 0 auto;
  padding: 2rem;
  height: 500px;
  overflow: hidden;
}
