/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-hyper-hyperblock  {
  border: 1px solid $black;
  margin: 0 auto;
  padding: 0;
  height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  --hyperblock-font: 'Times New Roman', Times, serif;

  .hyperblock__container {
    position: relative;
    width: 1px;
    height: 1px;
    display: block;
  
    > * {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
    }
  }

  @import './reset.scss';

}